[user]
	name = <name>
	email = <email>
[core]
	autocrlf = input
	editor = vi
[color]
	ui = true
[push]
	default = upstream
[alias]
        co = checkout
	hist = log --pretty=format:\"%Cgreen%h%Creset %ad | %s%d %Cblue[%an]\" --graph --date=short
[branch]
	autosetuprebase = always
