[user]
	name = <name>
	email = <email>
[core]
	autocrlf = input
	editor = vi
[color]
	ui = true
[push]
	default = upstream
[alias]
        co = checkout
        hist = log --pretty=format:\"%Cgreen%h%Creset %ad | %s%d %Cblue[%an]\" --graph --date=short
        rebase-commit = !bash ~/git-scripts/rebase-commit.sh -i --nopush
        rename-branch = !sh -c 'git branch -m "$1" "$2"' -
        new-branch = !sh -c 'git checkout -b "$1"' -
[branch]
	autosetuprebase = always
